@import "~leaflet/dist/leaflet.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 80vh;
}

.leaflet-container {
  height: 80vh;
}

#input {
  background-color: #c8cfe8;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  height: 20vh;
}

#answer-header {
  margin-left: 5rem !important;
}

#result {
  margin-left: 1rem;
}

#give-up {
  width: 95%;
}

#guess {
  width: 95%;
}

#new-game-div {
  margin-left: auto;
}

.correct {
  background-color: #7cba61;
}

.incorrect {
  background-color: #b55a55;
}
