.map {
  margin-top: 5px;
  min-height: 400px;
  max-height: 60vh;
  box-sizing: content-box !important;
}

.leaflet-container {
  min-height: 400px;
  max-height: 60vh;
  box-sizing: content-box !important;
  border-radius: 2%;
}

.map-game {
  min-width: 400px;
  max-width: 65vh;
}

.background {
  background-color: #c8cfe8;
  min-height: 100vh;
}

#main-page {
  background-color: #c8cfe8;
}

#input {
  background-color: #c8cfe8;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
}

#answer-header {
  margin-left: 5rem !important;
}

#result {
  margin-left: 1rem;
}

#give-up {
  width: 95%;
}

#guess {
  width: 95%;
}

.correct {
  background-color: #7cba61;
}

.incorrect {
  background-color: #b55a55;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tooltip-inner {
  background-color: #b5c7d6;
  color: #000000;
}
